/* Regular */
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
}

/* Bold */
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
}

